body{
    margin: 0px;
}

header{
    background-color: #2b3b4c;
    padding: 10px;
    height: 50px;
}

.headerBTNS{
    font-size: 14pt;
    margin: 5px;
    border-radius: 5px;
}

#list{

}
.list{
    display: flex;
    margin: 10px;
}

.listName{
    width: 500px;
}

.listBTN{
 
}