body{
    margin: 0px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}
header{
    display: flex;
    background-color: #384f6b;
    padding: 10px;
}

#headRight{
    align-self: center;
    margin: 5px;
    margin-left: auto;
}

.searchBar{
    font-size: 12pt;
    margin: 5px;
    border-radius: 3px;
    border-style: none;
}

.headerBTNS{
    font-size: 14pt;
    background-color: transparent;
    border: 0ch;
    color: whitesmoke;
    font-weight: bold;
}

#listAll{
    list-style: none;
}


.list{
    display: flex;
    margin: 10px;
    cursor: default;
}

.listName{
    width: 650px;
}

.listBTN{
 margin-left: 10px;
 font-size: 12pt;
 border-radius: 3px;
}